.DS_Store
.idea/

__pycache__/
moead_framework/data/my_results
*.txt
build/

moead_framework.egg-info/

dist/

.coverage

coverage.xml

docs/html/
docs/moead_framework/
docs/doctrees/
docs/.buildinfo
docs/.DS_Store