/* This file intentionally left blank. */
.wy-nav-content {
    max-width: inherit;
}

.wy-menu-vertical li.toctree-l3 span.toctree-expand, .wy-menu-vertical li.current > a span.toctree-expand{
    display: none;
}

.wy-menu-vertical li.toctree-l4{
    display: none;
}
.wy-body-for-nav .wy-nav-content-wrap a:visited {
    color: #2980B9;
}

.wy-menu-vertical li.current a, .wy-menu-vertical li.toctree-l2.current > a{
    padding: .4045em 1.427em;
}